body {
  background-color: #9bd8da;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
#heading{
  text-align: center;
  border-radius: 2em;
  box-shadow: 5px 10px 10px 0px #9bd8da;
}

.container {
  display: inline-block;
  box-sizing: border-box;
  background: linear-gradient(
    to right,
    #efa7c2,
    #fcedbd,
    #c6e7e2,
    #c7e3bf,
    #f5ef92
    
  );
  width: 90vw;
  max-width: 31.25em;
  padding: 3.12em;
  
}
@media screen and (max-width: 1024px){
  .container{
    position:absolute;
    top:10%;
    left: 30%;
  }
  #stopAlarmButton{
    position: absolute;
    top: 77%;
    left: 4%;
  }
}
@media screen and (max-width: 768px){
  .container{
  position:static;
  margin:18%;
  }
  #stopAlarmButton{
    position: absolute;
    top: 87%;
    left: -2%;
  }
}
@media screen and (max-width: 430px){
  .container{
    position:static;
  width: 100vw;
  margin:0;
  }
  #stopAlarmButton{
    position: absolute;
    top: 67%;
    left: -8%;
  }
}

.timer-display {
  font-size: 2.18em;
  text-align: center;
  font-family: "fantacy", "monspace";
}
.inputs {
  display: flex;
  
  justify-content: center;
  gap: 1em;
  margin-top: 5em;
}
.inputs input {
  width: 2.8em;
  font-size: 1.3em;
  border-radius: 0.3em;
  padding: 0.4em 0.2em;
}
#set {
  background-color: #9bd8da;
  padding: 0.9em 1.8em;
  display: block;
  margin: 1.5em auto 0 auto;
  border-radius: 2em;
  color: aliceblue;
  font-size: 1.3em;
  font-weight: 600;
}
#stopAlarmButton{
padding:0.9em 1.8em;
background-color : #efa7c2; 
color : #ffffff; 
margin-left: 46%;
border-radius :5px ;
cursor : pointer; 
}


  
   
  
  
 